decorator==4.3.0
Flask==1.0.2
Flask-Cors==3.0.6
Flask-SQLAlchemy==2.3.2
gunicorn==19.8.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pbr==4.0.4
psycopg2==2.7.5
six==1.11.0
SQLAlchemy==1.2.9
Werkzeug==0.14.1
wheel==0.31.1
