decorator==4.0.10
Flask==0.12
Flask-Cors==3.0.2
Flask-SQLAlchemy==2.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pbr==1.10.0
psycopg2==2.6.2
six==1.10.0
SQLAlchemy==1.1.4
Werkzeug==0.11.13
wheel==0.29.0
